part1/main_flow.json
[{"id":"109751c8.69e04e","type":"tab","label":"modbus_to_mqtt_main_flow","disabled":false,"info":""},{"id":"450cc5b8.d9e8cc","type":"modbus-read","z":"109751c8.69e04e","name":"device1","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":true,"unitid":"201","dataType":"InputRegister","adr":"0000","quantity":"8","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9d10e7d0.5c7d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":210,"y":180,"wires":[["8a918f6.66d297","1e93e843.32da08"],[]]},{"id":"37125995.86fcf6","type":"debug","z":"109751c8.69e04e","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"Time","statusType":"auto","x":620,"y":140,"wires":[]},{"id":"8a918f6.66d297","type":"function","z":"109751c8.69e04e","name":"add_timestamp","func":"var out_msg = []\nvar values = []\nvar values_formated = []\n\nvalues = msg.payload;\nvar time = (new Date()).toISOString()\n\nvar n = 0;\n\nfor(var v in values)\n{\n    values_formated.push({out:\"A\"+n.toString(), val:values[v]});\n    n = n+1;\n}\n\nout_msg.push({payload:{datetime:time, val:values_formated}});\n\nreturn out_msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":140,"wires":[["37125995.86fcf6","47c92116.55f62"]]},{"id":"1e93e843.32da08","type":"function","z":"109751c8.69e04e","name":"split_valies","func":"var values = [];\nvar values_formated = [];\nvar topic_nm = \"\";\n\nvalues = msg.payload;\nvar time = (new Date()).toISOString() // вытаскиваем метку времени\n\nvar n = 0;\nfor(var v in values) // для каждого сигнала формируем свое сообщение\n{\n    topic_nm = \"A\"+n.toString(); // формируем название сигнала\n    values_formated.push( // подготовленные сообщения складываем в общий массив\n        {datetime:time, // метка времени\n         topic:topic_nm, // название сигнала - в топик\n         payload:values[v]}); // значение сингала - в payload\n    n = n+1;\n}\n\nreturn {payload:values_formated};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["c8273d7a.5aeb4"]]},{"id":"6ba566fb.d39538","type":"ui_chart","z":"109751c8.69e04e","name":"","group":"91a1c1cb.df1","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":220,"wires":[[]]},{"id":"c8273d7a.5aeb4","type":"split","z":"109751c8.69e04e","name":"split","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":510,"y":220,"wires":[["520a54e.403dcac"]]},{"id":"520a54e.403dcac","type":"function","z":"109751c8.69e04e","name":"get_values","func":"return {topic:msg.payload.topic, payload:msg.payload.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":220,"wires":[["6ba566fb.d39538"]]},{"id":"47c92116.55f62","type":"mqtt out","z":"109751c8.69e04e","name":"load_to_mqtt","topic":"$registries/are1ns0hgb58i81h0ktn/events","qos":"1","retain":"","broker":"a4a7c9c3.eba778","x":610,"y":80,"wires":[]},{"id":"9d10e7d0.5c7d88","type":"modbus-client","name":"moxa1","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.3.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":100,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"91a1c1cb.df1","type":"ui_group","name":"iot_test","tab":"16d57f92.722d6","order":1,"disp":true,"width":"12","collapse":false},{"id":"a4a7c9c3.eba778","type":"mqtt-broker","name":"YandexIotCore_test_reg","broker":"mqtt.cloud.yandex.net","port":"8883","tls":"646c880a.877768","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"16d57f92.722d6","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"646c880a.877768","type":"tls-config","name":"deviceTLS","cert":"/home/pi/certs/test/test_cert.pem","key":"/home/pi/certs/test/test_key.pem","ca":"/home/pi/certs/test/rootCA.crt","certname":"test_cert.pem","keyname":"test_key.pem","caname":"rootCA.crt","servername":"","verifyservercert":false}]